/*--------------------------------------------------------------------------------------------
*
*	Global
*
*--------------------------------------------------------------------------------------------*/

.hl { padding: 0; margin: 0; list-style: none; display: block; position: relative; }
.hl li { float: left; display: block; margin: 0; padding: 0; }
.hl li.right { float: right; }
.hl.center { position: relative; overflow: visible; left: 50%; float: left; }
.hl.center li { position: relative; left: -50%; }

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#icon-acf {
	background: url(../images/acf-icon-32.png) 0 0 no-repeat !important;
}

.acf-loading {
	background: url("../../../../wp-admin/images/wpspin_light.gif") no-repeat scroll 50% 50% #EAEAEA;
    border-radius: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
    height: 16px;
    margin: 10px auto;
    padding: 6px;
    width: 16px;
}

/*--------------------------------------------------------------------------------------------
*
*	WP Box
*
*--------------------------------------------------------------------------------------------*/

.wp-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E1E1E1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: relative;
}
.wp-box .inner {
    padding: 10px;
}
.wp-box .footer {
    background: none repeat scroll 0 0 #F5F5F5;
    border-top: 1px solid #E1E1E1;
    overflow: hidden;
    padding: 10px;
    position: relative;
}
.wp-box .footer ul.left {
    float: left;
}
.wp-box .footer ul li {
    margin: 0;
    padding: 0;
}
.wp-box .footer ul.left li {
    margin-right: 10px;
}
.wp-box .footer ul.right {
    float: right;
}
.wp-box .footer ul.right li {
    margin-left: 10px;
}

.wp-box h2 {
	margin: .25em 0 .75em;
	padding: 0;
}

.wp-box h3 {
	margin: 1.5em 0 0;
}

.wp-box p {
	margin-top: 0.5em;
}

.wp-box-half.left {
	width: 50%;
	float: left;
}

.wp-box-half.right {
	width: 50%;
	height: 100%;
	right: 0;
	position: absolute;
	background: none repeat scroll 0 0 #F9F9F9;
    border-left: 1px solid #E1E1E1;
}

.wp-box-half.right .inner {
	
}

.wp-box select {
	width: 99%;
	height: auto !important;
}


/*---------------------------------------------------------------------------------------------
	Table
---------------------------------------------------------------------------------------------*/
table.acf_input {
	border: 0 none;
}

table.acf_input tbody tr td {
	padding: 10px;
}

table.acf_input tr.field_save {
	
}

table.acf_input tbody tr:last-child td {
	border-bottom: 0 none;
}

table.acf_input tbody tr td.label {
	width: 24%;
	vertical-align: top;
	border-right: #ebebeb solid 1px;
}

table.acf_input td.label ul.hl {
	margin: 20px 0 0;
}
table.acf_input td.label ul.hl li {
	margin: 0 3px 0 0;
	
}

table.acf_input td.label ul.hl li a.acf-button {
	font-size: 12px;
	padding: 6px 10px;
	font-weight: normal;
}

table.acf_input tbody tr td.label label{
	display: block;
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #333;
	
}

table.acf_input tbody tr td.label label span.required {
	color: #f00;
	display: inline;
	margin-right: 5px;
}


table.acf_input tbody tr td.label p{
	display: block;
	font-size: 12px;
	padding: 6px 0 !important;
	margin: 0 !important;
	font-style: normal;
	line-height: 16px;
	color: #666;
}

table.acf_input input[type=text],
table.acf_input textarea,
table.acf_input select{
	width: 99.95%;
	padding: 5px;
	outline: none;
}

table.acf_input select {
	padding: 2px;
}

table.acf_input input[type=text]:focus,
table.acf_input textarea:focus,
table.acf_input select:focus {
	border-color:#98B6CB;
}


ul.radio_list {
	position: relative;
	overflow: hidden;
	display: block;
	padding: 3px 0;
	margin: 0;
}

ul.radio_list.horizontal li {
	float: left;
	margin-right: 20px;
}

ul.checkbox_list {
	background: transparent !important;
	margin: 0;
}

ul.radio_list input,
ul.checkbox_list input {
	margin-right: 5px;
	width: auto;
}


/*--------------------------------------------------------------------------------------------
*
*	Buttons
*
*--------------------------------------------------------------------------------------------*/

a.acf-button,
input[type="submit"].acf-button {
	display: block;
	border-radius: 4px;
	background: #2c8bbe;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c8bbe', endColorstr='#246f99'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#2c8bbe), to(#246f99)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #2c8bbe, #246f99); /* for firefox 3.6+ */
    color: #FFFFFF;
    font-weight: normal;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    font-size: 13px;
    line-height: 1em;
    padding: 6px 11px;
	border: 0 none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	cursor: pointer;
	position: relative;
	text-align: center;
	text-decoration: none;
}

a.acf-button:hover,
input[type="submit"].acf-button:hover {
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	background: #3b97c9;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b97c9', endColorstr='#246f99'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#3b97c9), to(#246f99)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #3b97c9, #246f99); /* for firefox 3.6+ */
}

a.acf-button:active,
input[type="submit"].acf-button:active {
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	top: 1px;
	
}

a.acf-button.grey,
input[type="submit"].acf-button.grey {
	text-shadow: 0 1px 0 #fff;
	color: #454545;
	background: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#ececec'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ececec)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff, #ececec); /* for firefox 3.6+ */
	
}

a.acf-button[disabled],
input[type="submit"].acf-button[disabled] {
	opacity: 0.7;
}

a.acf-button[disabled]:hover,
input[type="submit"].acf-button[disabled]:hover {
	background: #2c8bbe;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c8bbe', endColorstr='#246f99'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#2c8bbe), to(#246f99)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #2c8bbe, #246f99); /* for firefox 3.6+ */
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
